# -------------------------
# Python cache
# -------------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------------
# Virtual environments
# -------------------------
venv/
.env/
env/
.venv/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
*.env

# -------------------------
# Logs
# -------------------------
*.log
logs/

# -------------------------
# Python build files
# -------------------------
build/
dist/
*.egg-info/
.eggs/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp
*.swo


# -------------------------
# Testing
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Mypy / type check
# -------------------------
.mypy_cache/

# -------------------------
# Jupyter Notebook
# -------------------------
.ipynb_checkpoints

# -------------------------
# Local database files
# -------------------------
*.sqlite3
*.db

# -------------------------
# Temporary files
# -------------------------
tmp/
temp/

# -------------------------
# Docker
# -------------------------
docker-compose.override.yml